{% load i18n %}
<footer class="container mx-auto text-center py-10 border-t font-medium text-gray-500">
    <div>
        {% trans '&copy; starscope' %}
    </div>
    <div class='mt-10 flex'>
        {% get_current_language as LANGUAGE_CODE %}
        <select class="w-1/5 h-8" id="js-lang">
            <option value="en"
            {% if LANGUAGE_CODE == 'en' %}
                selected
            {% endif %}
            >{% trans 'English' %}</option>
            <option value="ja"
            {% if LANGUAGE_CODE == 'ja' %}
                selected
            {% endif %}
            >{% trans 'Japanese' %}</option>
        </select>
    </div>
</footer>