{% extends 'base.html' %}
{% load on_favs i18n %}

{% block page_title %}
    {{place.name}}
{% endblock page_title %}

{% block content %}
<div class="-mt-5 container max-w-full h-75vh flex mb-20">
    <div class="h-full w-1/2 bg-cover bg-center" style="background-image: url({{place.first_photo}});">
    </div>
    <div class="h-full w-1/2 flex flex-wrap">
        {% for photo in place.get_next_four_photos %}
            <div style="background-image: url({{photo.file.url}});" class="w-1/2 h-auto bg-center bg-cover border-gray-500 border"></div>
        {% endfor %}
    </div>
</div>

<div class="container mx-auto flex justify-around pb-56">
    <div class="w-1/2">
        <div class="flex justify-between">
            <div>
                <h4 class="text-3xl font-medium mb-px">{{place.name}}</h4>
                <span class="text-gray-700 font-light">{{place.city}}</span>
            </div>
            <a href="{{place.viewfinder.get_absolute_url}}" class="flex flex-col items-center">
                {% include 'mixins/user_avatar.html' with user=place.viewfinder %}
                <span class="mt-2 text-gray-700">{{place.viewfinder.first_name}}</span>
            </a>
        </div>
        {% on_favs place as on_favs_boolean %}
        {% if on_favs_boolean %}
        <a href="{% url 'lists:toggle-place' place.pk %}?action=remove" class="block mb-5 w-2/6 text-red-500">{% trans 'Remove to Favorites' %}</a>
        {% else %}
        <a href="{% url 'lists:toggle-place' place.pk %}?action=add" class="block mb-5 w-2/6 text-indigo-600">{% trans 'Save to Favorites' %}</a>
        {% endif %}
        <div class="flex border-section"></div>
        <p class="border-section">{{place.description}}</p>
        <div class="mt-10">
            <h4 class="font-medium text-2xl mb-5">{% trans 'Reviews' %}</h4>
            <div class="flex items-center">
                <div>
                    <i class="fas fa-star text-blue-400"></i>
                    <span class="font-bold text-xl">{{place.total_rating}}</span>
                </div>
                <div class="h-4 w-px bg-gray-400 mx-5"></div>
                <div>
                    <span class="font-bold text-xl">{{place.reviews.count}}</span>
                    <span>review{{place.reviews.count|pluralize}}</span>
                </div>
            </div>
            <div class="mt-10">
                {% for review in place.reviews.all %}
                    <div class="border-section">
                        <div class="mb-3 flex">
                            <div>
                                {% include 'mixins/user_avatar.html' with user=review.user h_and_w='w-10 h-10' text='text-xl' %}
                            </div>
                            <div class="flex flex-col ml-5">
                                <div class="font-medium">
                                    {% if user == review.user %}
                                    <div class="justify-between text-red-500">
                                        <a href="{% url 'reviews:update' place.pk review.pk %}">{% trans 'Update' %}</a>
                                        <a href="{% url 'reviews:delete' place.pk review.pk %}">{% trans 'Delete' %}</a>
                                    </div>
                                    {% endif %}
                                    {{review.user.first.name}}
                                </div>
                                <span class="text-sm text-gray-500">{{review.created|date:'F-Y'}}</span>
                            </div>
                        </div>
                        <p>{{review.review}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="w-1/3">
        {% if place.viewfinder == user %}
            <a href="{% url 'places:edit' place.pk %}" class="btn-link block mb-5 bg-green-500">{% trans 'Edit Place' %}</a>
            <a href="{% url 'places:delete' place.pk %}" class="btn-link block" onclick="return confirm('Do you want delete this room?')">{% trans 'Delete Place' %}</a>
        {% else %}
            <a href="{% url 'reviews:create' place.pk %}" class="btn-link block mb-5">{% trans 'Review creates' %}</a>
            
        {% endif %}
    </div>

</div>

{% endblock %}
