{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <h2>{% trans 'Search!' %}</h2>

    <form method="get" action="{% url "places:search" %}">
        <div class="lg:w-96 ml-10">{{form.as_p}}</div>
        <button class="m-2 text-lg px-2 pb-1 bg-blue-400 rounded-lg text-white">{% trans 'Search' %}</button>
    </form>

    <h3 class="border-b pb-3 border-gray-600 my-2 ml-1 text-xl">{% trans 'Results' %}</h3>

    <div class="flex flex-wrap mb-10">
        {% for place in places %}
        {% include 'mixins/place_card.html' with room=room %}
        {% endfor %}
    </div>


{% endblock content %}