{% extends "base.html" %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <h2>Search!</h2>

    <form method="get" action="{% url "places:search" %}">
        {{form.as_p}}
        <button class="m-2 text-lg px-2 pb-1 bg-red-400 rounded-lg text-white">Search</button>
    </form>

    <h3 class="border-b pb-3 border-gray-600 my-2 ml-1 text-xl">Results</h3>

    <div class="flex flex-wrap mb-10">
        {% for place in places %}
        {% include 'mixins/room_card.html' with room=room %}
        {% endfor %}
    </div>


{% endblock content %}